@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main {
    background-color: rgb(219, 253, 255) !important;
}


.mobileMenu {
    display: none;
}



@media only screen and (orientation: portrait) and (max-width:857px) {

    html {
        width: 100vw;
        padding: 0;
        margin: 0;
    }

    main {
        width: 100vw;
        height: 100vh;
        padding: 0;
        margin: 0;
        overflow-x: hidden;

    }

    header {
        position: absolute;
        width: 100vw;
        display: flex;
        justify-content: space-around;
        align-items: center; 
        margin: 0 auto;
        color: white;
        z-index: 9999;
        background: linear-gradient(rgba(255, 255, 255,0), rgba(240, 135, 135, 0.5), rgba(255, 255, 255,0));
    }

        /* Mobile Menu */
    .mobileMenu {
        display: grid;
        justify-items: center;
        position: fixed;
        width: 100%;
        bottom: 0;
        text-align: center;
        color: white;
        background: rgba(240, 135, 135, 1);
        z-index: 10000;
    }

    .mobileOff {
        height: 35px;
        transition: all ease-in-out 0.75s;
    }

    .mobileOpen {
        height: calc(100vh - 45px); /* Adjust as needed */
        transition: all ease-in-out 0.75s;
    }

    .mobUl {
        display: block;
    }

    .mobLiDrop {
        color: black;
        /* border: 3px solid rgba(197, 99, 99, 0.95); */
    }

    .mobServ_navA {
        text-decoration: none;
        font-size: clamp(16px, 1.5rem, 3.5rem);
        color: white;
    }

    .mobServicesLi {
        list-style: none;
        padding: .5rem;
        margin: 0.55rem;
        background: linear-gradient(145deg, rgba(255, 132, 132, 0.95), rgba(197, 99, 99, 0.95));
        box-shadow:  8px 8px 14px rgba(197, 99, 99, 0.95),
                    -8px -8px 14px rgba(255, 132, 132, 0.95);
        border-radius: 25px;
    }

    #mobMenuTitle {
        width: 100vw;
        background-color: rgba(240, 135, 135, 1);
        z-index: 20000;
    }

    #mobMenuCarrot {
        
        display: grid;
        text-align: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 25%;
        background: linear-gradient(145deg, rgba(255, 132, 132, 0.95), rgba(197, 99, 99, 0.95));
        box-shadow:  8px 8px 14px rgba(197, 99, 99, 0.95),
                    -8px -8px 14px rgba(255, 132, 132, 0.95);
    }

    .mobNavLi {
        padding: 0.5rem 0;
    }

    .mobA, .mobLiDrop, .mobNavA {
        padding: 1.5rem;
        font-size: clamp(16px, 2rem, 3.5rem);
    }

    .mobUl, .mobLi, .mobA, .mobNavA {
        color: white;
        width: 100%;
        text-decoration: none;
        list-style: none;
    }



    .mobCurrent_page {
        background-color: rgba(197, 99, 99, 0.95);
        width: 100%;

    }

    .nav {
        display: none;
    }
    
    .nav ul {
        display: flex;
        flex-direction: row;
        list-style: none;
    
    }
    
    .nav ul li a {
        text-decoration: none;
        color: white;
        padding: 2rem;
        font-size: 1.15rem;
        text-transform: uppercase;
    }

    .text {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 2rem 0;
        transform: translate(-50%, -50%);
        text-align: center;
        /* color: rgb(35, 4, 59); */
        color: white;
        width: 90vw;
        height: 85vh;
        /* background: rgba(87, 87, 87, 0.4); */
        background: rgba(150, 142, 132, 0.5);

        border-radius: 15px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2),
                    -10px -10px 20px rgba(13, 3, 41, 0.5),
                    inset 0 0 10px rgba(255, 255, 255, 0.5),
                    inset 0 0 10px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
        pointer-events: auto;
    }
    

    .text h1 {
        font-size: clamp(1.75rem, 3rem, 5rem  );
        font-weight: 400;
      
        /* transform: translate(5%, 50%); */

    }

    .text h2 {
        font-size: clamp(1.25rem, 1.5rem, 3rem  );
        font-weight: 300;
      

    }

    .text h3 {
        font-weight: 200;

        font-size: clamp(1rem, 1.25rem, 3rem  );

    }


    .parralax {
        transition: translate(0,0);
    }

    .bg_img {
        display: none;
    }

    .trees1 {
        display: none;
    }

    .trees2 {
        display: none;
    }

    .trees3 {
        display: none;
    }

    .trees4 {
        display: none;
    }

    .trees5 {
        position: fixed;
        height: 100vh;
    }

    .trees6 {
        position: fixed;
        bottom: -45%;
        left: 0;
        transform: none !important;
        width: 600px;
        pointer-events: none;
    }

    .trees7 {
        display: none;
    }

    .buttonStandard {
        display: flex;
        position: absolute;
        left: 50%;
        padding: 0;
        margin: 0;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 1000;
    }

    .button {
        top: 55%;
        
    }


    .buttonUp {
        top: 75%;
    }

    .buttonLink {
        color: white;
        text-decoration: none;
        padding: 2rem;
        min-width: 100px;
        background-color: rgb(240, 135, 135);
        text-transform: uppercase;
        transition: all ease-in-out 0.35s;
        border: none;
        border-radius: 15px;
        box-shadow: 0 0 0 rgb(25, 25, 53);
    }

    .buttonLink:hover {
        box-shadow: 13px 13px 50px rgb(0, 0, 26);
        border-radius: 25px;
        width: 105%;
    }

    .buttonLink_return {
        color: white;
        text-decoration: none;
        padding: 2rem;
        min-width: 100px;
        background-color: rgb(240, 135, 135);
        text-transform: uppercase;
        transition: all ease-in-out 0.35s;
        border: none;
        border-radius: 0;
        box-shadow: 0 0 0 rgb(25, 25, 53);
    }

    .buttonLink_return:hover {
        box-shadow: 2px 2px 50px rgb(197, 197, 230);
        border-radius: 25px;
        width: 105%;
    }

    .homeBody {
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
    }

}

@media only screen and (min-width: 858px ) {

    main {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    background-color: rgb(220, 216, 255) !important;

        /* background-color: rgb(235, 235, 235); */
        /* background-color: rgb(11, 37, 4); */
        position: relative;
    }

    header {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center; 
        margin: 0 auto;
        color: white;
        z-index: 9999;
        background: rgba(150, 142, 132, 0.5);
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2),
                    -10px -10px 20px rgba(13, 3, 41, 0.5),
                    inset 0 0 10px rgba(255, 255, 255, 0.5),
                    inset 0 0 10px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
    }

    img {
        width: 100%;
    }

    .nav ul {
        display: flex;
        flex-direction: row;
        list-style: none;

    }

    .nav ul li a {
        text-decoration: none;
        color: white;
        padding: 2rem;
        font-size: 1.15rem;
        text-transform: uppercase;
    }



    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        background-color: white;
    }

    .flowerHeld {
        position: absolute;
        height: 500px;
        bottom: 0;
        right: 200px;

    }

    /* PARALLAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAX */

    .parralax {
        pointer-events: none;
        transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
    }

    .bg_img {
        position: absolute;
        width: 90vw;
        top: calc(50% + 20px);
        left: calc(40% + 10px);
        transform: translate(-50%, -50%);
    }

    .trees1 {
        position: absolute;
        width: 120vw;
        top: calc(50% + 20px);
        left: calc(50% + 10px);
        transform: translate(-50%, -50%);
    }

    /* .trees2 {
        position: absolute;
        width: 2800px;
        top: calc(50% + 190px);
        left: calc(50% + 10px);
        transform: translate(-50%, -50%);
    } */

    .trees2 {
        position: absolute;
        width: 120vw;
        top: calc(30% + 20px);
        left: calc(80% + 10px);
        transform: translate(-50%, -50%);
    }

    .trees3 {
        position: absolute;
        width: 120vw;
        top: calc(50% + 20px);
        left: calc(20% + 10px);
        transform: translate(-50%, -50%);
    }

    .trees4 {
        position: absolute;
        width: 50vw;
        top: calc(50% + 20px);
        left: calc(50% + 10px);
        transform: translate(-50%, -50%);
    }

    .trees5 {
        position: absolute;
        width: 80vw;
        top: calc(50% + 20px);
        left: calc(80% + 10px);
        transform: translate(-50%, -50%);
        /* opacity: 50%; */

    }

    .text {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 2rem 0;
        transform: translate(-50%, -50%);
        text-align: center;
        color: rgb(255, 255, 255);
        width: 70vw;
        /* background: rgba(54, 37, 61, 0.5); */
        background: rgba(150, 142, 132, 0.5);

        border-radius: 15px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2),
                    -10px -10px 20px rgba(13, 3, 41, 0.5),
                    inset 0 0 10px rgba(99, 99, 99, 0.5),
                    inset 0 0 10px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
        pointer-events: auto;
        height: max-content;
    }

    .text h3 {
        font-weight: 100;
        font-size: 3.5rem;
    }

    .text h1 {
        font-weight: 400;
        font-size: 8.5rem;
        line-height: 0.65;
        padding-bottom: .5rem;
    }

    .text h2 {
        font-weight: 300;
        font-size: 3.5rem;
        
    }

    .trees6 {
        position: absolute;
        width: 50vw;
        top: calc(80% + 20px);
        left: calc(5% + 10px);
        transform: translate(-50%, -50%);
    }

    .trees7 {
        position: absolute;
        width: 60vw;
        top: calc(60% + 20px);
        left: calc(74% + 10px);
        transform: translate(-50%, -50%);
    }

    .vignette {
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: radial-gradient(ellipse at center, rgba(0,0,0,0) 65%, rgba(0,0,0,0.7));
    }

    .button {
        display: flex;
        position: absolute;
        top: 75%;
        left: 57%;
        padding: 0;
        margin: 0;
        transform: translate(-50%, -50%);
        text-align: center;
        
        z-index: 1000;


    }

    /* .button {
        position: absolute;
        top: 75%;
        left: 55%;
        padding: 0;
        margin: 0;
        transform: translate(-50%, -50%);
        text-align: center;
        
        z-index: 1000;
    } */

    .buttonUp {
        position: absolute;
        top: 75%;
        left: 43%;
        padding: 0;
        margin: 0;
        transform: translate(-50%, -50%);
        text-align: center;
        
        z-index: 1000;
    }

    .buttonLink {
        color: white;
        text-decoration: none;
        padding: 2rem;
        min-width: 200px;
        background-color: rgb(240, 135, 135);
        text-transform: uppercase;
        transition: all ease-in-out 0.35s;
        border: none;
        border-radius: 0;
        box-shadow: 0 0 0 rgb(25, 25, 53);
        border: 3px solid rgba(54, 37, 61, 0.5);

    }

    .buttonLink:hover {
        box-shadow: 13px 13px 50px rgb(0, 0, 26);
        border-radius: 25px;
        width: 105%;
    }

    .buttonLink_return {
        color: white;
        text-decoration: none;
        padding: 2rem;
        min-width: 100px;
        background-color: rgb(240, 135, 135);
        text-transform: uppercase;
        transition: all ease-in-out 0.35s;
        border: none;
        border-radius: 0;
        box-shadow: 0 0 0 rgb(25, 25, 53);
    }

    .buttonLink_return:hover {
        box-shadow: 2px 2px 50px rgb(197, 197, 230);
        border-radius: 25px;
        width: 105%;
    }

    .hidden {
        opacity: 0;
    }

    .app-bar {
        margin-bottom: 2rem;
    }

    .nC_main {
        max-width: 1600px;
        scroll-behavior: smooth;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 3rem;
    }

    .navUl {
        display: flex;
        flex-direction: row;
        list-style: none;
        font-family: 'Poppins', sans-serif;
        font-size: 1.15rem;

    }

    .navLi {
        position: relative;
    }

    .navLiDrop {
        display: inline-block;
        padding: 0 2rem;
    }

    .navLiDrop:hover {
        cursor: pointer;
        opacity: 1;
    }

    .nav li:hover .services_drop {
        opacity: 1;
    }

    .navA {
        text-decoration: none;
        color: black;
        padding: 2rem;
        font-size: 1.15rem;
        text-transform: uppercase;
    }

    .navA:hover {
        text-decoration: underline;
    }

    .current_page {
        background-color: rgba(240, 135, 135, 0.92);
    }

    .services_drop {
        display: flex;
        flex-direction: column;
        position: absolute;
        padding: 1rem;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2), -2px -2px 10px rgba(43, 29, 12, 0.5), inset 0 0 10px rgba(255, 255, 255, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.2);
        transform: translate(-3rem);
        background-color: rgba(240, 135, 135, 0.92);
        z-index: 1000000;
        border-radius: 25px;
        /* opacity: 0; */
        transition: opacity 0.5s ease-in-out;
    }

    .services_drop li:hover {
        background-color: rgba(197, 99, 99, 0.95);
        border-radius: 25px;
    }

    .serv_navA {
        text-decoration: none;
        color: white;
        font-size: 1.15rem;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
    }

    .naviLiDrop {
        position: relative;
        filter: blur(2px);
        cursor: pointer;
        
    }

    .servicesLi {
        display: inline-block;
        
        list-style-type: none;
        padding: 1.5rem;
        margin: 0;
        position: relative;
    }

    .backDarken {
        background-color: rgba(255, 255, 255, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        width: 120vw;
        height: 120vh;
        z-index: 0;
    }
}

@media screen and (orientation: landscape) and (max-width:857px) and (min-height:626px) {

    html {
        width: 100vw;
        padding: 0;
        margin: 0;
    }

    main {
        width: 100vw;
        height: 100vh;
        padding: 0;
        margin: 0;
        overflow-x: hidden;

    }

    header {
        position: absolute;
        width: 100vw;
        display: flex;
        justify-content: space-around;
        align-items: center; 
        margin: 0 auto;
        color: white;
        z-index: 9999;
        background: linear-gradient(rgba(255, 255, 255,0), rgba(240, 135, 135, 0.5), rgba(255, 255, 255,0));
    }

    .mobUl {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

        /* Mobile Menu */
        .mobileMenu {
            display: grid;
            justify-items: center;
            position: fixed;
            width: 100%;
            bottom: 0;
            text-align: center;
            color: white;
            background: rgba(240, 135, 135, 1);
            z-index: 10000;
        }
    
        .mobileOff {
            height: 35px;
            transition: all ease-in-out 0.75s;
        }
    
        .mobileOpen {
            height: calc(100vh - 45px); /* Adjust as needed */
            transition: all ease-in-out 0.75s;
        }
        
        .mobLiDrop {
            color: black;
            /* border: 3px solid rgba(197, 99, 99, 0.95); */
        }
    
        .mobServ_navA {
            text-decoration: none;
            font-size: clamp(16px, 1.55rem, 3.5rem);
            color: white;
        }
    
        .mobServicesLi {
            list-style: none;
            padding: .5rem;
            margin: 0.55rem;
            background: linear-gradient(145deg, rgba(255, 132, 132, 0.95), rgba(197, 99, 99, 0.95));
            box-shadow:  8px 8px 14px rgba(197, 99, 99, 0.95),
                        -8px -8px 14px rgba(255, 132, 132, 0.95);
            border-radius: 25px;
            width: 100%;
        }
    
        #mobMenuTitle {
            z-index: 20000;
        }
    
        #mobMenuCarrot {
            padding: 0;
            margin: 0;
            display: grid;
            text-align: center;
            align-items: center;
            width: 25px;
            height: 25px;
            border-radius: 25%;
            background: linear-gradient(145deg, rgba(255, 132, 132, 0.95), rgba(197, 99, 99, 0.95));
            box-shadow:  4px 4px 7px rgba(197, 99, 99, 0.95),
                        -4px -4px 7px rgba(255, 132, 132, 0.95);
            font-size: 0.75rem;
        }
    
        .mobNavLi {
            padding: 0.5rem 0;
        }

        .mobA {
            display: visible;
        }
    
        .mobA, .mobLiDrop, .mobNavA {
            padding: 0.5rem;
            font-size: clamp(16px, 1.55rem, 3.5rem);
        }
    
        .mobUl, .mobLi, .mobA, .mobNavA {
            color: white;
            text-decoration: none;
            list-style: none;
        }
        
        .mobCurrent_page {
            background-color: rgba(197, 99, 99, 0.95);
            /* width: 100%; */
        }

        .mobCurrent_service {
            border-bottom: red 3px solid;
        }

    .nav {
        display: none;
    }
    
    .nav ul {
        display: flex;
        flex-direction: row;
        list-style: none;
    
    }
    
    .nav ul li a {
        text-decoration: none;
        color: white;
        padding: 2rem;
        font-size: 1.15rem;
        text-transform: uppercase;
    }

    .text {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 2rem 0;
        transform: translate(-50%, -50%);
        text-align: center;
        /* color: rgb(35, 4, 59); */
        color: white;
        width: 90vw;
        height: 85vh;
        background: rgba(87, 87, 87, 0.4);
        border-radius: 15px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2),
                    -10px -10px 20px rgba(13, 3, 41, 0.5),
                    inset 0 0 10px rgba(255, 255, 255, 0.5),
                    inset 0 0 10px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
        pointer-events: auto;
        z-index: 999;
    }
    

    .text h1 {
        font-size: clamp(1rem, 5rem, 7rem  );
        font-weight: 400;
    }

    .text h2 {
        font-size: clamp(1rem, 2rem, 4rem  );
        font-weight: 300;
      

    }

    .text h3 {
        font-weight: 200;

        font-size: clamp(1rem, 1.75rem, 3rem  );

    }


    .parralax {
        transition: translate(0,0);
    }

    .bg_img {
        display: none;
    }

    .trees1 {
        display: none;
    }

    .trees2 {
        display: none;
    }

    .trees3 {
        display: none;
    }

    .trees4 {
        display: none;
    }

    .trees5 {
        position: fixed;
        height: 100vh;
    }

    .trees6 {
        position: fixed;
        bottom: -400px;
        left: 0;
        transform: none !important;
        width: 600px;
        z-index: 1000;
    }

    .trees7 {
        position: fixed;
        top: -200px;
        right: 0;
        transform: none !important;
        z-index: 1;
    }

    .buttonStandard {
        display: flex;
        position: absolute;
        bottom: 30%;
        padding: 0;
        margin: 0;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 1000;
    }

    .button {
        left: 30%;
        
    }


    .buttonUp {
        left: 70%;
    }

    .buttonLink {
        color: white;
        text-decoration: none;
        padding: 2rem;
        min-width: 250px;
        background-color: rgb(240, 135, 135);
        text-transform: uppercase;
        transition: all ease-in-out 0.35s;
        border: none;
        border-radius: 15px;
        box-shadow: 0 0 0 rgb(25, 25, 53);
    }

    .buttonLink:hover {
        box-shadow: 13px 13px 50px rgb(0, 0, 26);
        border-radius: 25px;
        width: 105%;
    }

    .buttonLink_return {
        color: white;
        text-decoration: none;
        padding: 2rem;
        min-width: 100px;
        background-color: rgb(240, 135, 135);
        text-transform: uppercase;
        transition: all ease-in-out 0.35s;
        border: none;
        border-radius: 0;
        box-shadow: 0 0 0 rgb(25, 25, 53);
    }

    .buttonLink_return:hover {
        box-shadow: 2px 2px 50px rgb(197, 197, 230);
        border-radius: 25px;
        width: 105%;
    }

    .homeBody {
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
    }

}@media screen and (orientation: landscape) and (max-width:857px) and (min-height:431px) and (max-height: 625px) {

    html {
        width: 100vw;
        padding: 0;
        margin: 0;
    }

    main {
        width: 100vw;
        height: 100vh;
        padding: 0;
        margin: 0;
        overflow-x: hidden;

    }

    header {
        position: absolute;
        width: 100vw;
        display: flex;
        justify-content: space-around;
        align-items: center; 
        margin: 0 auto;
        color: white;
        z-index: 9999;
        background: linear-gradient(rgba(255, 255, 255,0), rgba(240, 135, 135, 0.5), rgba(255, 255, 255,0));
    }
    .mobUl {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

        /* Mobile Menu */
        .mobileMenu {
            display: grid;
            justify-items: center;
            position: fixed;
            width: 100%;
            bottom: 0;
            text-align: center;
            color: white;
            background: rgba(240, 135, 135, 1);
            z-index: 10000;
        }
    
        .mobileOff {
            height: 35px;
            transition: all ease-in-out 0.75s;
        }
    
        .mobileOpen {
            height: calc(100vh - 45px); /* Adjust as needed */
            transition: all ease-in-out 0.75s;
        }
        
        .mobLiDrop {
            color: black;
            /* border: 3px solid rgba(197, 99, 99, 0.95); */
        }
    
        .mobServ_navA {
            text-decoration: none;
            font-size: clamp(16px, 1.55rem, 3.5rem);
            color: white;
        }
    
        .mobServicesLi {
            list-style: none;
            padding: .5rem;
            margin: 0.55rem;
            background: linear-gradient(145deg, rgba(255, 132, 132, 0.95), rgba(197, 99, 99, 0.95));
            box-shadow:  8px 8px 14px rgba(197, 99, 99, 0.95),
                        -8px -8px 14px rgba(255, 132, 132, 0.95);
            border-radius: 25px;
            width: 100%;
        }
    
        #mobMenuTitle {
            z-index: 20000;
        }
    
        #mobMenuCarrot {
            padding: 0;
            margin: 0;
            display: grid;
            text-align: center;
            align-items: center;
            width: 25px;
            height: 25px;
            border-radius: 25%;
            background: linear-gradient(145deg, rgba(255, 132, 132, 0.95), rgba(197, 99, 99, 0.95));
            box-shadow:  4px 4px 7px rgba(197, 99, 99, 0.95),
                        -4px -4px 7px rgba(255, 132, 132, 0.95);
            font-size: 0.75rem;
        }
    
        .mobNavLi {
            padding: 0.5rem 0;
        }

        .mobA {
            display: visible;
        }
    
        .mobA, .mobLiDrop, .mobNavA {
            padding: 0.5rem;
            font-size: clamp(16px, 1.55rem, 3.5rem);
        }
    
        .mobUl, .mobLi, .mobA, .mobNavA {
            color: white;
            text-decoration: none;
            list-style: none;
        }
        
        .mobCurrent_page {
            background-color: rgba(197, 99, 99, 0.95);
            /* width: 100%; */
        }

        .mobCurrent_service {
            border-bottom: red 3px solid;
        }

    .nav {
        display: none;
    }
    
    .nav ul {
        display: flex;
        flex-direction: row;
        list-style: none;
    
    }
    
    .nav ul li a {
        text-decoration: none;
        color: white;
        padding: 2rem;
        font-size: 1.15rem;
        text-transform: uppercase;
    }

    .text {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 2rem 0;
        transform: translate(-50%, -50%);
        text-align: center;
        /* color: rgb(35, 4, 59); */
        color: white;
        width: 90vw;
        height: 85vh;
        background: rgba(87, 87, 87, 0.4);
        border-radius: 15px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2),
                    -10px -10px 20px rgba(13, 3, 41, 0.5),
                    inset 0 0 10px rgba(255, 255, 255, 0.5),
                    inset 0 0 10px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
        pointer-events: auto;
        z-index: 999;
    }
    

    .text h1 {
        font-size: clamp(1rem, 3rem, 5rem  );
        font-weight: 400;
      
        /* transform: translate(5%, 50%); */

    }

    .text h2 {
        font-size: clamp(1rem, 1.25rem, 3rem  );
        font-weight: 300;
      

    }

    .text h3 {
        font-weight: 200;

        font-size: clamp(1rem, 1.25rem, 3rem  );

    }


    .parralax {
        transition: translate(0,0);
    }

    .bg_img {
        display: none;
    }

    .trees1 {
        display: none;
    }

    .trees2 {
        display: none;
    }

    .trees3 {
        display: none;
    }

    .trees4 {
        display: none;
    }

    .trees5 {
        position: fixed;
        height: 100vh;
    }

    .trees6 {
        position: fixed;
        bottom: -400px;
        left: 0;
        transform: none !important;
        width: 600px;
        z-index: 1000;
    }

    .trees7 {
        position: fixed;
        top: -200px;
        right: 0;
        transform: none !important;
        z-index: 1;
    }

    .buttonStandard {
        display: flex;
        position: absolute;
        bottom: 30%;
        padding: 0;
        margin: 0;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 1000;
    }

    .button {
        left: 25%;
        
    }


    .buttonUp {
        left: 75%;
    }

    .buttonLink {
        color: white;
        text-decoration: none;
        padding: 2rem;
        width: 100%;
        background-color: rgb(240, 135, 135);
        text-transform: uppercase;
        transition: all ease-in-out 0.35s;
        border: none;
        border-radius: 15px;
        box-shadow: 0 0 0 rgb(25, 25, 53);
    }

    .buttonLink:hover {
        box-shadow: 13px 13px 50px rgb(0, 0, 26);
        border-radius: 25px;
        width: 105%;
    }

    .buttonLink_return {
        color: white;
        text-decoration: none;
        padding: 2rem;
        min-width: 100px;
        background-color: rgb(240, 135, 135);
        text-transform: uppercase;
        transition: all ease-in-out 0.35s;
        border: none;
        border-radius: 0;
        box-shadow: 0 0 0 rgb(25, 25, 53);
    }

    .buttonLink_return:hover {
        box-shadow: 2px 2px 50px rgb(197, 197, 230);
        border-radius: 25px;
        width: 105%;
    }

    .homeBody {
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
    }

}
@media screen and (orientation: landscape) and (max-width:857px) and (min-height:328px) and (max-height:430px) {

    html {
        width: 100vw;
        padding: 0;
        margin: 0;
    }

    main {
        width: 100vw;
        height: 100vh;
        padding: 0;
        margin: 0;
        overflow-x: hidden;

    }

    header {
        position: absolute;
        width: 100vw;
        display: flex;
        justify-content: space-around;
        align-items: center; 
        margin: 0 auto;
        color: white;
        z-index: 9999;
        background: linear-gradient(rgba(255, 255, 255,0), rgba(240, 135, 135, 0.5), rgba(255, 255, 255,0));
    }

    .mobUl {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        align-items: center;
    }

        /* Mobile Menu */
        .mobileMenu {
            display: grid;
            justify-items: center;
            position: fixed;
            width: 100%;
            bottom: 0;
            text-align: center;
            color: white;
            background: rgba(240, 135, 135, 1);
            z-index: 10000;
        }
    
        .mobileOff {
            height: 35px;
            transition: all ease-in-out 0.75s;
        }
    
        .mobileOpen {
            height: calc(100vh - 45px); /* Adjust as needed */
            transition: all ease-in-out 0.75s;
        }
        
        .mobLiDrop {
            color: black;
            /* border: 3px solid rgba(197, 99, 99, 0.95); */
        }
    
        .mobServ_navA {
            text-decoration: none;
            font-size: clamp(16px, 1.55rem, 3.5rem);
            color: white;
        }
    
        .mobServicesLi {
            list-style: none;
            padding: .5rem;
            margin: 0.55rem;
            background: linear-gradient(145deg, rgba(255, 132, 132, 0.95), rgba(197, 99, 99, 0.95));
            box-shadow:  8px 8px 14px rgba(197, 99, 99, 0.95),
                        -8px -8px 14px rgba(255, 132, 132, 0.95);
            border-radius: 25px;
            
            width: 100%;
        }
    
        #mobMenuTitle {
            z-index: 20000;
        }
    
        #mobMenuCarrot {
            padding: 0;
            margin: 0;
            display: grid;
            text-align: center;
            align-items: center;
            width: 25px;
            height: 25px;
            border-radius: 25%;
            background: linear-gradient(145deg, rgba(255, 132, 132, 0.95), rgba(197, 99, 99, 0.95));
            box-shadow:  4px 4px 7px rgba(197, 99, 99, 0.95),
                        -4px -4px 7px rgba(255, 132, 132, 0.95);
            font-size: 0.75rem;
        }
    
        .mobNavLi {
            padding: 0.5rem 0;
        }

        .mobA {
            display: visible;
        }
    
        .mobA, .mobLiDrop, .mobNavA {
            padding: 0.5rem;
            font-size: clamp(16px, 1.55rem, 3.5rem);
        }
    
        .mobUl, .mobLi, .mobA, .mobNavA {
            color: white;
            text-decoration: none;
            list-style: none;
        }
        
        .mobCurrent_page {
            background-color: rgba(197, 99, 99, 0.95);
            /* width: 100%; */
        }

        .mobCurrent_service {
            border-bottom: red 3px solid;
        }

    .nav {
        display: none;
    }
    
    .nav ul {
        display: flex;
        flex-direction: row;
        list-style: none;
    
    }
    
    .nav ul li a {
        text-decoration: none;
        color: white;
        padding: 2rem;
        font-size: 1.15rem;
        text-transform: uppercase;
    }

    .text {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 2rem 0;
        transform: translate(-50%, -50%);
        text-align: center;
        /* color: rgb(35, 4, 59); */
        color: white;
        width: 90vw;
        height: 80vh;
        background: rgba(87, 87, 87, 0.4);
        border-radius: 15px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2),
                    -10px -10px 20px rgba(13, 3, 41, 0.5),
                    inset 0 0 10px rgba(255, 255, 255, 0.5),
                    inset 0 0 10px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
        pointer-events: auto;
    }
    

    .text h1 {
        font-size: clamp(1rem, 3rem, 5rem  );
        font-weight: 400;
      
        /* transform: translate(5%, 50%); */

    }

    .text h2 {
        font-size: clamp(1rem, 1.25rem, 3rem  );
        font-weight: 300;
      

    }

    .text h3 {
        font-weight: 200;

        font-size: clamp(1rem, 1.25rem, 3rem  );

    }


    .parralax {
        transition: translate(0,0);
    }

    .bg_img {
        display: none;
    }

    .trees1 {
        display: none;
    }

    .trees2 {
        display: none;
    }

    .trees3 {
        display: none;
    }

    .trees4 {
        display: none;
    }

    .trees5 {
        position: fixed;
        height: 100vh;
    }

    .trees6 {
        position: fixed;
        top: 0;
        left: -25%;
        transform: none;
        width: 600px;
    }

    .trees7 {
        display: none;
    }

    .buttonStandard {
        position: absolute;
        bottom: 20%;
        padding: 0;
        margin: 0;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 1000;
    }

    .button {
        left: 55%;
        
    }


    .buttonUp {
        left: 75%;
    }

    .buttonLink {
        color: white;
        text-decoration: none;
        padding: 1rem;
        min-width: 75px;
        background-color: rgb(240, 135, 135);
        text-transform: uppercase;
        transition: all ease-in-out 0.35s;
        border: none;
        border-radius: 15px;
        box-shadow: 0 0 0 rgb(25, 25, 53);
    }

    .buttonLink:hover {
        box-shadow: 13px 13px 50px rgb(0, 0, 26);
        border-radius: 25px;
        width: 105%;
    }

    .buttonLink_return {
        color: white;
        text-decoration: none;
        padding: 2rem;
        min-width: 100px;
        background-color: rgb(240, 135, 135);
        text-transform: uppercase;
        transition: all ease-in-out 0.35s;
        border: none;
        border-radius: 0;
        box-shadow: 0 0 0 rgb(25, 25, 53);
    }

    .buttonLink_return:hover {
        box-shadow: 2px 2px 50px rgb(197, 197, 230);
        border-radius: 25px;
        width: 105%;
    }

    .homeBody {
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
    }

}
@media screen and (orientation: landscape) and (max-height: 327px) {
    .mobUl {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

        /* Mobile Menu */
        .mobileMenu {
            display: grid;
            justify-items: center;
            position: fixed;
            width: 100%;
            bottom: 0;
            text-align: center;
            color: white;
            background: rgba(240, 135, 135, 1);
            z-index: 10000;
        }
    
        .mobileOff {
            height: 35px;
            transition: all ease-in-out 0.75s;
        }
    
        .mobileOpen {
            height: calc(100vh - 45px); /* Adjust as needed */
            transition: all ease-in-out 0.75s;
        }
        
        .mobLiDrop {
            color: black;
            /* border: 3px solid rgba(197, 99, 99, 0.95); */
        }
    
        .mobServ_navA {
            text-decoration: none;
            font-size: clamp(16px, 1.55rem, 3.5rem);
            color: white;
        }
    
        .mobServicesLi {
            list-style: none;
            padding: .5rem;
            margin: 0.55rem;
            background: linear-gradient(145deg, rgba(255, 132, 132, 0.95), rgba(197, 99, 99, 0.95));
            box-shadow:  8px 8px 14px rgba(197, 99, 99, 0.95),
                        -8px -8px 14px rgba(255, 132, 132, 0.95);
            border-radius: 25px;
            width: 100%;
        }
    
        #mobMenuTitle {
            z-index: 20000;
        }
    
        #mobMenuCarrot {
            padding: 0;
            margin: 0;
            display: grid;
            text-align: center;
            align-items: center;
            width: 25px;
            height: 25px;
            border-radius: 25%;
            background: linear-gradient(145deg, rgba(255, 132, 132, 0.95), rgba(197, 99, 99, 0.95));
            box-shadow:  4px 4px 7px rgba(197, 99, 99, 0.95),
                        -4px -4px 7px rgba(255, 132, 132, 0.95);
            font-size: 0.75rem;
        }
    
        .mobNavLi {
            padding: 0.5rem 0;
        }

        .mobA {
            display: visible;
        }
    
        .mobA, .mobLiDrop, .mobNavA {
            padding: 0.5rem;
            font-size: clamp(16px, 0.7rem, 3.5rem);
        }
    
        .mobUl, .mobLi, .mobA, .mobNavA {
            color: white;
            text-decoration: none;
            list-style: none;
        }
        
        .mobCurrent_page {
            text-decoration: underline rgba(197, 99, 99, 0.95);
        }
    
    .buttonStandard {
        display: flex;
        position: absolute;
        bottom: 0%;
        padding: 0;
        margin: 0;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 1000;
    }

    .button {
        left: 20%;
        
    }


    .buttonUp {
        left: 80%;
    }

    .trees6 {
        position: fixed;
        bottom: -400px;
        right: 0%;
        transform: none !important;
        width: 600px;

    }

    html {
        width: 100vw;
        padding: 0;
        margin: 0;
    }

    main {
        width: 100vw;
        height: 100vh;
        padding: 0;
        margin: 0;
        overflow-x: hidden;

    }

    header {
        position: absolute;
        width: 100vw;
        display: flex;
        justify-content: space-around;
        align-items: center; 
        margin: 0 auto;
        color: white;
        z-index: 9999;
        background: linear-gradient(rgba(255, 255, 255,0), rgba(240, 135, 135, 0.5), rgba(255, 255, 255,0));
    }

    .nav {
        display: none;
    }
    
    .nav ul {
        display: flex;
        flex-direction: row;
        list-style: none;
    
    }
    
    .nav ul li a {
        text-decoration: none;
        color: white;
        padding: 2rem;
        font-size: 1.15rem;
        text-transform: uppercase;
    }

    .text {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 2rem 0;
        transform: translate(-50%, -50%);
        text-align: center;
        /* color: rgb(35, 4, 59); */
        color: white;
        width: 90vw;
        height: 85vh;
        background: rgba(87, 87, 87, 0.4);
        border-radius: 15px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2),
                    -10px -10px 20px rgba(13, 3, 41, 0.5),
                    inset 0 0 10px rgba(255, 255, 255, 0.5),
                    inset 0 0 10px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
        pointer-events: auto;
        z-index: 999;

    }
    

    .text h1 {
        font-size: clamp(1rem, 3rem, 5rem  );
        font-weight: 400;
      
        /* transform: translate(5%, 50%); */

    }

    .text h2 {
        font-size: clamp(1rem, 1.25rem, 3rem  );
        font-weight: 300;
      

    }

    .text h3 {
        font-weight: 200;

        font-size: clamp(1rem, 1.25rem, 3rem  );

    }


    .parralax {
        transition: translate(0,0);
    }

    .bg_img {
        display: none;
    }

    .trees1 {
        display: none;
    }

    .trees2 {
        display: none;
    }

    .trees3 {
        display: none;
    }

    .trees4 {
        display: none;
    }

    .trees5 {
        position: fixed;
        height: 100vh;
    }

    .trees7 {
        display: none;
    }

    

    .buttonLink {
        color: white;
        text-decoration: none;
        padding: 1rem;
        min-width: 75px;
        background-color: rgb(240, 135, 135);
        text-transform: uppercase;
        transition: all ease-in-out 0.35s;
        border: none;
        border-radius: 15px;
        box-shadow: 0 0 0 rgb(25, 25, 53);
    }

    .buttonLink:hover {
        box-shadow: 13px 13px 50px rgb(0, 0, 26);
        border-radius: 25px;
        width: 105%;
    }

    .buttonLink_return {
        color: white;
        text-decoration: none;
        padding: 2rem;
        min-width: 100px;
        background-color: rgb(240, 135, 135);
        text-transform: uppercase;
        transition: all ease-in-out 0.35s;
        border: none;
        border-radius: 0;
        box-shadow: 0 0 0 rgb(25, 25, 53);
    }

    .buttonLink_return:hover {
        box-shadow: 2px 2px 50px rgb(197, 197, 230);
        border-radius: 25px;
        width: 105%;
    }

    .homeBody {
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
    }
}
