@font-face {
    font-family: 'blackout';
    src: url('../assets/fonts/BlackoutSunrise.ttf');
}

@font-face {
    font-family: 'garet_book';
    src: url('../assets/fonts/Garet-Book.ttf');
}

@font-face {
    font-family: 'garet_heavy';
    src: url('../assets/fonts/Garet-Heavy.ttf');
}

@font-face {
    font-family: 'highsummit';
    src: url('../assets/fonts/HighSummit.ttf');
}

@font-face {
    font-family: 'kenyan_it';
    src: url('../assets/fonts/KenyanCoffeeRgIt.otf');
}

@font-face {
    font-family: 'kenyan';
    src: url('../assets/fonts/KenyanCoffeeRg.otf');
}

@font-face {
    font-family: 'glock';
    src: url('../assets/fonts/LTGlockenspielBlack.ttf');
}

@font-face {
    font-family: 'mayonice';
    src: url('../assets/fonts/Mayonice.ttf');
}

@font-face {
    font-family: 'secrcode';
    src: url('../assets/fonts/secrcode.otf');
    font-weight: lighter;
}

@font-face {
    font-family: 'sig';
    src: url('../assets/fonts/Thesignature.ttf');
}

@font-face {
    font-family: 'vaughan';
    src: url('../assets/fonts/Vaughan.otf');
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    color: white;
    font-weight: 100;

}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
}

section {
    /* height: 100vh;
    justify-content: center;
    align-items: center; */
    font-size: 2em;
    border-bottom: 1px solid #ccc;
}

header {
    color: #fff768;
    font-family: sans-serif;
    font-size: clamp(1rem, 5vw, 3rem);
    position: relative;
    z-index: 1; /* Ensures the header is above the heroVidCont */
    text-align: center;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

}

.pcol {
    color: #264653;
}

#heroVidCont {
    position: absolute; 
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -1; /* Ensures it stays behind everything else */
}

#heroVid {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Ensures the image covers the entire container without distortion */
    filter: blur(5px);
}


.headerMain {
    display: flex;
    background: #264653;
    padding: 2rem;

}

.hero_Section {
    height: 72vh;
    width: 100%;
    display: grid;
    padding-top: 5rem;
}

.chaos {
    font-size: 0;
    animation: chaosShake 3s, chaosSquish 2s 3s; /* Delays chaosSquish by 3s */
    color: red;
    text-shadow: 2px 2px 2px black;
}


@keyframes chaosShake {
    0% {
        color: white;
        text-shadow: 0 0 0 black;
        font-size: clamp(1rem, 10vw, 8rem);;
    }
    100% {
        color: red;
        text-shadow: 2px 2px 2px black;
        font-size: clamp(1rem, 10vw, 8rem);;
    }
}

@keyframes chaosSquish {
    0% {
        width: 100%;
        font-size: clamp(1rem, 10vw, 8rem);;
    }
    50% {
        width:100%;
    }
    100% {
        width: 0;
        font-size: 0;
    }
}


.peace {
    color: rgba(255, 255, 255, 1);
    text-shadow: 2px 2px 15px rgb(255, 238, 152)
}

.fade-in {
    animation: fadeIn 6s;
}

@keyframes fadeIn {
    0% { opacity: 0;
         text-shadow: none;}
    50% { opacity: 0;
        text-shadow: 2px 2px 15px black
    }
    100% { opacity: 1;
        text-shadow: 2px 2px 15px rgb(255, 238, 152);
 }
  }
  

button {
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 25px;
    border: #FF8C36 5px solid;
    background-color: #264653;
    color: white;
    font-size: 2rem;
    transition: border 0.3s ease-in-out,
                background-color 0.4s ease-in-out,
                color 0.4s ease-in-out
    ;
}
button:hover {
    border: #FAB2EA 5px solid;
    color: white;
    background-color: #505C71;
    box-shadow: 2px 2px 15px #DF52FF;
}

button:active {
    border: #FAB2EA 5px solid;
    color: #264653;
    background-color: cyan;
    box-shadow: 2px 2px 15px #DF52FF;
}

.heroDiv1 h1 {
    font-size: clamp(1rem, 15vw, 12rem);
}

.navLinks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    
}

.navLinks a {
    text-decoration: none;
    padding: 2rem;
    color: #FFF768;
    background-color: #2e4a55;
    border-radius: 0 0 5px 5px;
    font-size: 2rem;
    transition: background-color 0.25s ease-in-out,
                transform 0.25s ease-in-out,
                border-radius 0.25s ease-in-out;
    margin: 0 5px  ;
}

.navLinks a:hover {
    transform: scale(1, 1.2);
    color: #264653;
    background-color: #FAB2EA;
    border-top: none;
    border-radius: 5px 5px;

}

.header_image {
    height: 200px;
    border-radius: 50px;
}


main {
    display: grid;
    position: relative;
    z-index: 1; 
    justify-content: center;
}

footer {
    position: relative;
    z-index: 1; /* Ensures footer is above the heroVidCont */
}


.section_title {
    font-size: 4rem;
    font-family: 'vaughan';
}

.Font_Section {
    padding: 2rem;
    max-width: 1543px;
}

.font_Cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #264653;
    border: #FF8C36 solid 3px;
    margin: 1rem;
    padding: 2rem;
    border-radius: 22px;
    color: white;
    align-items: center;
    justify-content: center;
}

.font_Cont div h1 {
    font-size: clamp(1rem, 5vw, 3rem);
    padding: 0 1rem;


}

.img_Logo {
    border-radius: 50px;
}

.font1 {
    font-family: 'blackout', sans-serif;   
}

.font2 {
    font-family: 'garet_book', sans-serif;   
}

.font3 {
    font-family: 'garet_heavy', sans-serif;   
}

.font4 {
    font-family: 'highsummit', sans-serif;   
}

.font5 {
    font-family: 'kenyan_it', sans-serif;   
}

.font6 {
    font-family: 'kenyan', sans-serif;   
}

.font7 {
    font-family: 'glock', sans-serif;   
}

.font8 {
    font-family: 'mayonice', sans-serif;   
}

.font9 {
    font-family: 'secrcode', sans-serif;   
}

.font10 {
    font-family: 'sig', sans-serif;   
}

.font11 {
    font-family: 'vaughan', sans-serif;   
}

.Color_Section {
    background-color: white;
    border-radius: 45px;
    padding: 3rem;
    max-width: 1543px;
    color: black;
    display: block;
}

.color_paletteCont, .primaries {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 3rem;

}

.color_paletteCont div, .primaries div {
    display: flex;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px 15px black;

}

.color_primary1 {
    background-color: #264653;
    color: white;
}

.color_primary2 {
    background-color: #7D345A;
    color: white;
}

.color_primary3 {
    background-color: #FFF768;
    color: black;
}

.color_accent1 {
    background-color: #FAB2EA;
    color: black;
}

.color_accent2 {
    background-color: #A3FFFA;
    color: black;
}

.color_accent3 {
    background-color: #505C71;
    color: white;
}

.color_accent4 {
    background-color: #DF52FF;
    color: white;
}

.color_accent5 {
    background-color: #FF8C36;
    color: white;
}


.color_b {
    background-color: black;
    color: white;
}

.color_w {
    background-color: white;
    color: black;
    box-shadow: 2px 2px 15px black;
}

.Massage_Section {
    color: #264653;
    max-width: 70vw;
}

.Massage_Section p {
    line-height: 2;
}