* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

header {
    position: absolute;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 0 auto;
}



.nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;

}

.nav ul li a {
    text-decoration: none;
    color: black;
    padding: 2rem;
    font-size: 2rem;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.flowerHeld {
    position: absolute;
    height: 500px;
    bottom: 0;
    right: 200px;

}